body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-left: 10px; 
}

.logo {
  max-width: 50px;
  max-height: 50px;
}

#cards-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(23, 129, 85);
  color: white;
}

#city-weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#city-weather-container .card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(23, 129, 85);
  color: white;
}

#city-weather-container p {
  margin: 5px 0;
}

#city-weather-container p:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

#city-weather-container p:not(:first-child) {
  font-size: 0.9em;
}

.search-form {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

header form.search-form {
  position: static;
  margin-left: auto;
}

.fixed-card {
  background-color: rgb(23, 129, 85);
}

